{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <!-- <head>
        <title>usps/animation</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head> -->
      {% block content %}
    <body style="background-color: black; height: 100%;">
          <div class="row text-center" style="margin-top: 5%;margin-bottom: 10%;">
            <div class="col col-lg-4 col-sm-12">
                <div class="card h-100 border-0" style="background-color: black;">
                    <div class="card-body">
                     <img src="../static/avatar.png" width="50%" style="margin-top: 15%;">
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-12" >
                <div class="card h-100 border-0" style="background-color: black;">
                    <div style="margin: 10%;"></div>
                    <div class="card-body">
                      <p class="card-text" style="text-align: right;color: white;">Indulge yourself and create your own TECHuman, our friendly and easy-to-use realtime avatar! Handcraft it with our advanced features toolset to customize your persona - from facial features to attire – to be game ready as also to communicate virtually along with a live streaming capability. Live puppeteering along with emotive capability add a wholesome layer of fun so go on and immerse yourself in a new realm of digital self-expression!</p>
                      <button type="button" class="btn"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;float: right;border-radius: 20px; background-color: whitesmoke;">
                ReadMore
              </button></div>
                    <!-- <div class="card-footer" style="background-color: black;">
                       
                    </div> -->
                </div>
            </div>
            <div class="col col-lg-4 col-sm-12" style="margin-top: 0%;">
                <div class="card h-100 border-0" style="background-color: black;">
                    <div style="margin: 8%;"></div>
                <div class="card-body">
                    <p class="card-text" style="font-family: SF Pro Text;
                    font-size: 72px;
                    font-weight: 600;
                    line-height: 86px;
                    letter-spacing: 0em;
                    text-align: right;
                    inline-size: min-content;
                    /* float: right; */
                    color: white;
                    ">Real - time Avatar Creation</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col col-lg-4 col-sm-12">
               
                <div class="card h-100 border-0" style="background-color: black;">
                    <div style="margin: 14%;"></div>
                <div class="card-body">
                    <p class="card-text" style="font-family: SF Pro Text;
                    font-size: 72px;
                    font-weight: 600;
                    line-height: 86px;
                    letter-spacing: 0em;
                    /* text-align: right; */
                    inline-size: min-content;
                    /* float: right; */
                    color: white;
                    ">Generative AI</p>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-12" >
                <div class="card h-100 border-0" style="background-color: black;">
                    <div style="margin: 10%;"></div>
                    <div class="card-body">
                      <p class="card-text" style="text-align: left;color: white;">Harnessing the power of Gen-AI, we endeavor to provide custom-made models for a tailor-made experience. Carefully curated and created, these models use AI models and algorithms to suit the needs of every user thereby making it a fit for both, B2B and B2C use cases.</p>
                      <button type="button" class="btn"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;float: left;border-radius: 20px; background-color: whitesmoke;">
                ReadMore
              </button>
                    </div>
                    <!-- <div class="card-footer" style="background-color: black;">
                        <button type="button" class="btn" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;float: left;border-radius: 20px; background-color: whitesmoke;">
                            ReadMore
                        </button>
                    </div> -->
                </div>
            </div>
            <!-- <div class="col col-lg-4 col-sm-12" style="margin-top: 0px;">
               
              <div class="card h-100 border-0" style="background-color: black;">
                <div class="card-body">
                 <img src="../static/avatar.png" width="50%" style="margin-top: 15%;">
                </div>
            </div>
            </div> -->
            <div class="col col-lg-4 col-sm-12">
              <div class="card h-100 border-0" style="background-color: black;">
                  <div class="card-body">
                   <img src="../static/avatar.png" width="50%" style="margin-top: 15%;">
                  </div>
              </div>
          </div>
          </div>
        
        </body>
</html>
<style>
    .card{
        border: 0px solid;
    }
</style>
{% endblock %}